<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Catalogo</title>
</head>
<body>
<h1>Catálogo de productos</h1>
<!-- Para cada producto de ese objeto quiero nombrar el nombre en una lista es un motor de plantillas -->
<ul>
    <li th:each="product : ${products}">
        <!-- Nos crea una url / product / id producto -->
        <a th:href="@{'product/' + ${product.id}}"><span th:text="${product.name}"></span></a>
    </li>
</ul>

</body>
</html>